.logo {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background: url(../images/favicon.png) center / contain;
  margin-right: 0.3em;
  border-radius: 0.1em;
}

details > summary:first-of-type::before {
  content: "▶";
  padding-right: 0.5em;
  opacity: 0.8;
}

details[open] > summary:first-of-type::before {
  content: "▼";
}

details > summary {
  cursor: default;
}

.mark-as-read {
  background: var(--text-muted);
  border: 1px solid var(--text);
  width: 0.8em;
  height: 0.8em;
  border-radius: 1em;
  padding: 0;
  vertical-align: middle;
  margin: 0 0.3em;
  cursor: pointer;
}

.is-read .mark-as-read {
  background: transparent;
  border-color: var(--text-muted);
}

.mark-as-read:focus {
  border: 2px solid var(--link);
  outline: none;
}

.mark-as-read::-moz-focus-inner {
  border: 0;
}

.download-link {
  text-decoration: none;
}

.download-link::after {
  opacity: 0.9;
  display: inline-block;
  content: " ";
  margin-left: 0.3em;
  vertical-align: middle;
  border: 0 solid transparent;
  border-width: 0.5em 0.4em 0 0.4em;
  border-top-color: currentColor;
}

.menu-ext {
  position: relative;
}

.menu-ext > a {
  color: var(--text-muted);
  background: var(--bg);
  border-radius: 0.5em;
  padding: 0 0.5em;
  text-decoration: none;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.3;
  border: 1px solid var(--text-muted);
}

.menu-ext > ul {
  display: none;
  position: absolute;
  right: 0;
  background: var(--bg);
  z-index: var(--z-menu);
  border: 1px solid var(--text-muted);
  padding: 0.5em;
  list-style: none;
  margin-top: -2px;
  min-width: 10em;
}

.menu-ext:hover > a,
.menu-ext.open > a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--text-muted);
  color: var(--text);
}

.menu-ext > a:focus {
  border-color: var(--text-muted);
  color: var(--text);
  outline: none;
}

.menu-ext:hover > ul,
.menu-ext.open > ul {
  display: block;
}

.menu-ext > ul a {
  display: block;
}

.swatch {
  text-indent: -1000px;
  display: inline-block;
  width: 1em;
  height: 1em;
  width: 0;
  height: 0;
  border: 0.6em solid var(--swatch-other-1);
  border-radius: 1em;
  padding: 0;
  vertical-align: middle;
  border-right-color: var(--swatch-other-2);
  border-bottom-color: var(--swatch-other-2);
  overflow: hidden;
}
