* {
  box-sizing: border-box;
}

html,
body,
#app {
  background: var(--bg);
  color: var(--text);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  max-width: 60em;
  margin: 0 auto;
  padding: 1rem;
}
