:root {
  --bg: #111;
  --text: #ccc;
  --text-muted: #666;
  --text-warning: #fb0;
  --text-danger: #f66;
  --link: #09f;
  --swatch-other-1: #ccc;
  --swatch-other-2: #999;

  --z-menu: 1;
}

.theme-light {
  --bg: #ddd;
  --text: #333;
  --text-muted: #888;
  --text-warning: #c90;
  --text-danger: #c33;
  --link: #06c;
  --swatch-other-1: #999;
  --swatch-other-2: #333;
}

@import "./layout.css";
@import "./bootstrap.css";
@import "./app.css";
